body{
    background: #ffcfcf;
    margin-right: 10%;
    margin-left: 10%;
}

.main_border{
    margin-top: 5px;
    border: 5px solid #8c3636;
    padding: 30px;
    background-color: #ffe5e5;
}

header .up_panel{
    height: 140px;
    border: 5px solid #8c3636;
    background-color: #7d002b;
    margin: 0px;
}

.up_panel .btn_login{
    background: #622586;
    display: inline-block;
    float: right;
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    height: 100%;
    text-decoration: none;
    line-height: 140px;
    background-image: linear-gradient(to right, #7d002b, #7b649400)
}

.up_panel .logo{
    display: inline-block;
    color: #ffffff;
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
    letter-spacing: 12px;
}

.up_panel .profile{
    display: inline-block;
    float: right;
    color: #ffffff;
    height: 100%;
    line-height: 40px;
    margin: 20px 40px;
    font-size: 25px;
}

.up_panel .logout{
     color: #fff;
     text-decoration: underline;
}

header .insets{
    background: #980535;
    height: 70px;
    margin: 0px;
}

.insets .inset_btn{
    padding-left: 25px;
    padding-right: 25px;
    line-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: bolder;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-decoration: none;

}

.main_form{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    font-size: 20px;
}

.alert{
    background: #9e0000;
    display: inline-block;
    color: #ffffff;
    padding: 4px;
    margin-bottom: 15px;
    font-weight: normal;
}

.input{
    width: 400px;
    height: 30px;
    font-size: 20px;
}

.btn_log_in{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-size: 19px;
    font-weight: bold;
    background: #79027b;
    color: #fff;
    border-radius: 10px;
}

.btn_remember{
    width: 17px;
    height: 17px;
}

.btn{
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.btn.topic_btn{
    background-color: #ad0000;
    width: 400px;
    height: 40px;
    margin-bottom: 30px;
    line-height: 40px;
}

#add_topic.description{
    width: 500px;
    height: 200px;
    align: top;
    font-size: 20px;
    resize: none;
}

#topic{
    border: 2px solid #860000;
    display: inline-block;
    font-size: 15px;
    text-indent: 20px;
    padding: 20px;
    width: 700px;
    border-left: 20px solid #9c4646;
    margin-bottom: 15px;
    margin-right: 50px;
}

#main_topic{
    border: 2px solid #860000;
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    width: 60%;
    padding-right: 150px;
    border-left: 20px solid #9c4646;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 15px;
}

#topic .title{
    font-size: 25px;
    font-weight: bold;
    color: #b50000;
    margin-bottom: 10px;
    text-decoration: none;
}

#topic .data{
    font-size: 17px;
}

#topic .description{
    width: 80%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main_topic .author{
    display: table-cell;
    float: left;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10px;
    color: #8100c3;
    margin-right: 50px;
}

#main_topic .text{
    display: table-cell;
    margin-left: 50px;
}

#main_topic .data{
    margin-top: 60px;
    font-size: 18px;
}
.text .title{
    color: #6600b3;
    font-size: 25px;
    margin-bottom: 20px;
}

.text .description{
    font-size: 20px;
    white-space: pre-wrap;

}

#topic .delete{
    color: #8500ff;
    font-size: 15px;
    background-color: #ffb5b5;
    border-radius:6px;
    border: 1px solid #8a5a5a;
    text-decoration: none;
    padding: 4px;
    font-weight: bold;
    color: #b34040;

}

.write_comment{
    margin-top: 10px;
    width: 40%;
    height: 60px;
    font-size: 20px;
    padding: 20px;
    padding-top: 10px;
    resize: none;
    overflow: hidden;
    outline-color: #6200ff;
}

.btn.comment_btn{
    background-color: #af0081;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 10px;
    margin: 10px 0 20px 30px;
    width: 200px;
    height: 30px;
    border-color: #83289a;
}

.background{
    background-color: #ffd3d3;
    border: 2px solid #d4b3b3;
    margin-top: 10px;
    margin-bottom: 10px;
}

#comment{
    width: 60%;

    padding: 10px;
    padding-left: 20px;
    font-size: 22px;
    margin: 10px 0 10px 20px;
    background-color: #ffe1e1;

}

#comment .author{
    display: inline-block;
    color: #b70000;
    margin-bottom: 13px;
}

#comment .text{
    display: inline-block;
    margin-bottom: 20px;
}

#comment .data{
    display: inline-block;
    margin-top: 710;
    font-size: 18px;
    color: #7300a2;
}

.self_border{
    border: 1px solid #380082;
    border-left: 10px solid #480196;
}

#comment .btn_comment{
    color: #8500ff;
    font-size: 15px;
    background-color: #bfbbf9;
    border-radius:6px;
    border: 1px solid #8a5a5a;
    text-decoration: none;
    padding: 4px;
    font-weight: bold;
    color: #8140b3;
    margin-left: 12px;
}

#comment .self_name{
    color: #ab00bf;
}

.another_border{
    border: 1px solid #c70000;
    border-left: 10px solid #dc0000;

}

#comment .another_name{
    color: #960000
}

.write_comment_padding{
    padding-left: 20px;
}

.image{
    width: 20px;
    height: 20px;
}

.display_form{
    display: block;
}

.display-inline{
    display: inline-block;
}

.btn.like{
    width: 34px;
    height: 30px;
}

.btn.like.color_false{
    background-color: #ff7b7b;
}

.btn.like.color_true{
    background-color: #c778f3;
}

.btn.like.color_none{
    background-color: #aaa;
    disabled: disabled;
}

#profile {
    padding: 20px;
    font-size: 23px;
    color: #900000;
}

#profile .nomination{
    color: #53007d;
    margin: 3px 0 3px 35px;
}

.btn.page_btn{
    background-color: #ad0000;
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 3px;
}
