{% extends "base.html" %}

{% block content %}

<div>
    {% if current_user.is_authenticated %}
    <a class="btn topic_btn" href="/add_topic">Создать тему</a>
    {% endif %}
</div>
{% for topic in topics[(page - 1) * max_topics:page * max_topics]%}
{% set link = "/topic/" + str(topic.id)%}

<div id="topic">
    <a class="title" href="{{link}}">{{topic.title}}</a>
    <div class="description">{{topic.description}}</div>
    <div class="data">Автор {{topic.user.name}} &ensp;{{topic.created_date.strftime("%d-%m-%Y")}}
        {% set link = "/delete_topic/" + str(topic.id) %}
        &ensp;&ensp;{{topic.comments}}&ensp;<img src="/static/img/comment.png"
       class="image">&ensp;&ensp;{{topic.likes}}&ensp;<img src="/static/img/like.png"
             class="image">&ensp;&ensp;{% if
        topic.user.name == current_user.name %}<a class="delete"
                                                  href={{link}}>Удалить</a>{% endif %}
    </div>
</div><br>

{% endfor %}
<div>
    {% for i in range(count_page)%}
    <input type="hidden" name="btn" value="{{i + page}}">
    <a href="/main_page/{{i + 1}} "class="btn page_btn">{{i + 1}}</a>
    {% endfor %}
</div>
{% endblock %}