{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate class="main_form">
    <h1>Регистрация</h1>
    {{ form.hidden_tag() }}
        {{ form.email.label }}<br>
        {{ form.email(class="input", type="email") }}<br>
        {% for error in form.email.errors %}
    <div class="alert" role="alert">
        {{ error }}<br>
    </div>
    {% endfor %}
    {% if message_email %}
        <div class="alert"> {{message_email}}</div>
    {% endif %}
<br>
        {{ form.username.label }}<br>
        {{ form.username(class="input") }}<br>
        {% for error in form.username.errors %}
    <div class="alert" role="alert">
        {{ error }}<br>
    </div>
    {% endfor %}
    {% if message_name %}
        <div class="alert"> {{message_name}}</div>
    {% endif %}
<br>
        {{ form.password.label }}<br>
        {{ form.password(class="input", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert" role="alert">
        {{ error }}
    </div>
    {% endfor %}<br>
    {{ form.repeat_password.label }}<br>
        {{ form.repeat_password(class="input", type="password") }}<br>
        {% for error in form.repeat_password.errors %}
    <div class="alert" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% if message_password %}
        <div class="alert"> {{message_password}}</div>
    {% endif %}<br>


    {{ form.submit(type="submit", class="btn_log_in") }}
</form>
{% endblock %}
